{% load static %}
{% include "includes/head.html" %}



<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Subspecialists in Ultimate Vascular Neurology (UVN)</span>
          <h1 class="text-capitalize mb-5 text-lg">Our Departments</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Departments in UVN</h2>
					<div class="divider mx-auto my-4"></div>
					<p>
						UVN offers the latest in neurological care with innovative therapies, new techniques and clinical trials developed by our world-class experts.
Specialized clinician researchers in the Department of neurology at UVN clinic apply the latest in nuerology research to diagnose and treat people with brain andd nervous system disorders and also collaborate to carry therapeutic concepts from inceptionas ideas,through safety and efficacy testing, to development as effective treatments for epilepsy, movement disorders, stroke, neuro-oncology, multiple sclerosis and other conditions.
The department of neurology at uvn clinic is engaged in basic and clinical research to understand the underlying cause of complex neurological disease and conditions and translate research discoveries into a new treatments. As research, education and practice intersects, UVN clinic is redefining the future of patient care by developing more effective, less-invasive and cost-effective treatments.
</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for department in department %}
			<div class="col-lg-4 col-md-6 ">
				<div class="department-block mb-5">
					<img src="{% static 'images/sir_room_1.webp' %}" alt="" class="img-fluid w-100">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">{{ department.department }}</h4>
						<p class="mb-4">{{ department.details.details | slice:80 }}..</p>
						<a href="/{{department.slug}}" class="read-more">Learn More  <i class="icofont-simple-right ml-2"></i></a>
					</div>
				</div>
			</div>
			{% endfor %}

			
		</div>
	</div>
</section>


{% include "includes/footer.html" %}