{% load static  %}
{% include 'includes/head.html' %}


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Our services</span>
          <h1 class="text-capitalize mb-5 text-lg">What We Do</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{% static 'images/sir_room.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Child Neurology</h4>
						<p class="mb-4">Child Neurology is a medical subspecialty that focuses on the diagnosis, treatment, and management of neurological disorders in children, infants, and adolescents</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{% static 'images/sir_room_8.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Neuro-oncology</h4>
						<p class="mb-4">Neuro-oncology is a medical subspecialty that focuses on the diagnosis and treatment of brain and spinal cord tumors.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{% static 'images/sir_room-10.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Neuro-critical care</h4>
						<p class="mb-4">Neuro-critical care is a specialized field of medicine that focuses on the management of critically ill patients with acute neurological conditions.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/sir_room_3.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Vascular Neurology (stroke)</h4>
						<p class="mb-4">Vascular neurology, also known as neuro-vascular medicine, is a medical specialty that focuses on the diagnosis and treatment of diseases related to the blood vessels of the brain</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/sir_room_5.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Neuro-Muscular disorders</h4>
						<p class="mb-4">Neuromuscular disorders are a diverse group of medical conditions that affect the neuromuscular system, which includes the nerves controlling voluntary muscles and the muscles themselves</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/sir_room_6.webp' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Parkinson's and Movement disorders</h4>
						<p class="mb-4">Parkinson's disease and movement disorders encompass a diverse group of neurological conditions that primarily affect a person's ability to control and coordinate their movements</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">We are pleased to offer you the <span class="title-color">chance to have the healthiest Life</span></h2>
					<a href="appoinment.html" class="btn btn-main-2 btn-round-full">Get appoinment<i class="icofont-simple-right  ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>



{% include 'includes/footer.html' %}